<template name="Footer">
  <footer>
    <div style="padding-top: 80px;" class="ui center aligned container">
      <hr>
      <div class="bottom-background">
        <div class="ui container style">
          <div class="column" style="color: black; font-size: 15px;">
            <h2 style="font-size: 20px;">POPULAR SERVICES</h2>
            <hr width="350px" align="left" color="#F7F7F7" noshade>
            <a href="https://www.amazon.com/gp/prime" target="_blank">Amazon Prime</a><br/>
            <a href="https://www.netflix.com/signup/planform" target="_blank">Netflix Premium</a><br/>
            <a href="https://www.spotify.com/us/premium/?checkout=false" target="_blank">Spotify Premium</a><br/>
          </div>
          <div class="column" style="color: black;">
            <a class="item" style="padding:10px;">
              <i class="facebook f icon" style="color: #565273; font-size: 2.3rem; padding-top: 25px"></i>
            </a>
            <a class="item" style="padding:10px;">
              <i class="twitter icon" style="color: #565273; font-size: 2.3rem; padding-top: 25px"></i>
            </a>
            <a class="item" style="padding:10px;">
              <i class="pinterest icon" style="color: #565273; font-size: 2.3rem; padding-top: 25px"></i>
            </a>
            <a class="item" style="padding:10px;">
              <i class="instagram icon" style="color: #565273; font-size: 2.3rem; padding-top: 25px"></i>
            </a>
          </div>
          <div class="column" style="color: black; font-size: 15px;">
            <h2 style="font-size: 20px;">OUR NEWSLETTER</h2>
            <hr width="350px" align="left" color="#F7F7F7" noshade>
            <p>Sign up for the latest updates!</p>
            <div class="ui action input">
              <input type="text" placeholder="Enter email address">
              <button class="ui button">Join</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div style="padding-bottom: 20px;">
        WSUV School of Engineering and Computer Science<br/>
        CS 320 Course Project<br/>
        Vancouver, WA 98686<br/>
        COPYRIGHT &copy; 2018 SUBSCRUPLE
      </div>
    </div>
  </footer>
</template>
