.TopMenubar.menu {
  padding-left: 20px;
  padding-right:20px;
  background-color: #F5F5F5;
  box-shadow: none;
  border: none;
}

.MiddleMenubar.menu {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: none;
  border: none;
}

.bottom-background {
  background-color: #292929;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 450px;
}

.image-background {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.column {
  width:370px;
  float:left
}
